.like-icon {
  display: block;
  transform-origin: center;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .sparks {
  opacity: 0;
}

/* hover */
.card__icon-button:hover .like-icon .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

/* active */
.card__icon-button:active .like-icon .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

/* liked */
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes sparks-flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
